
body{
    
    padding: 0px;
    margin: 0px;
}
.bg-mockups-container{
    width: 100%;
    position: relative;
    
}
.bg-img{
   
    width: 100%
}
.bg-mockups{
    height: 300px;
    position: absolute;
    top: -60px;
    left: -20px;

   
 
    
}
.ham{
   
    height: 20px;
}
.header-mobile{
   background-color:hsl(0, 100%, 100%); 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between ;
   padding-left: 16px;
   padding-right: 16px;
   padding-bottom: 20px;
   padding-top: 20px;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 1;

}
.next-gen{
   text-align: center;
   font-size: 40px;
   font-weight: bold;
}
.finances{
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
   
   
}
.p-button{
     text-align: center;
     
}
.btn{
   padding-left: 45px;
   padding-right: 45px;
   padding-top: 16px;
   padding-bottom: 16px;
   color: white;
   border-radius: 32px;
   font-size: 16px;
   border: 0px;
   margin-bottom: 0px;
   margin-top: 16px;
 background-image: linear-gradient( hsl(136, 64%, 51% ) 60%,  hsl(192, 69%, 51%) );
}
.Digitalbank{
    text-align: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Digital{
 text-align: center;
 padding-top: 100px ;
 font-size: 36px;
 font-weight: bold;
}
.Digitalbank{
    font-size: 36px;
 font-weight: bold;
}
.we-leverage{
    text-align: center;
    padding: 16px;
    font-size: 16px;
}
.img-p-container{
    width: 100%;
    
   
}
.img{
    width: 100%;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    
    
} 
.Claire-Robinson{
    padding-left: 40px;
    color: hsl(233, 8%, 62%);
    font-weight: 600;
} 
.Receive-money{
    padding-left: 40px;
    font-size: 25px;
    

} 
.The-world{
    padding-left: 40px;
    color: hsl(233, 8%, 62%);
    
} 
.Wilson-Hutton{
   padding-left: 40px;
    color: hsl(233, 8%, 62%);
    font-weight: 600;
}
.Treat-yourself{
    padding-left: 40px;
    font-size: 25px;

}
.Our-simple{
      padding-left: 40px;
      color: hsl(233, 8%, 62%);
}
.Take-your{
    padding-left: 40px;
    font-size: 25px;
     
}
.We-want{
    padding-left: 40px;
      color: hsl(233, 8%, 62%);

}
.By-Claire{
     padding-left: 40px;
    color: hsl(233, 8%, 62%);
    font-weight: 600;

}
.Our-invite{
    padding-left: 40px;
    font-size: 25px;
}
.after-alot{
    padding-left: 40px;
      color: hsl(233, 8%, 62%);

}
.footer{
    background-color:  hsl(233, 26%, 24%);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.light-logo{
    margin-top: 64px;
    margin-bottom: 64px;
}
.icon-flex-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.icon-img{
     width: 25px;
     
}
.btn-footer{
     padding-left: 45px;
   padding-right: 45px;
   padding-top: 16px;
   padding-bottom: 16px;
   color: white;
   border-radius: 32px;
   font-size: 16px;
   border: 0px;
   margin-bottom: 20px;
   margin-top: 16px;
 background-image: linear-gradient( hsl(136, 64%, 51% ) 60%,  hsl(192, 69%, 51%) );

}
.all-rights{
    margin-bottom: 64px;
}

@media(max-width: 600px){
    .header-desktop{
        display: none;
    }
   
}

@media screen and (max-width: 600px){
  .bg-mockups{
            height: 400px;
            position: absolute;
    top: -60px;
    left: 0px;
        
    
}
    
}
