
body{
    
    padding: 0px;
    margin: 0px;
}
.bg-mockups-container{
    width: 100%;
    position: relative;
    
}
.bg-img{
   
    width: 100%;
     
}
.bg-mockups{
   
    position: absolute;
    top: -100px;
    left: -20px;
   
    

   
 
    
}
.bg-desktop-container{
 max-width: 50%;
 position: relative;
}

    
   

.header-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px ;
   
}
.ham{
    height: 20px;
    @media (width > 620px){
    display: none; 
   }
}


 .header-p{
   display: flex;
   flex-direction: row;
   gap: 10px; 
   font-size: 1rem;
   flex-wrap: nowrap;

   @media (width <= 620px){
    display: none;
   }
}

.btn-header{
    border-radius: 30px;
    background-image: linear-gradient( hsl(136, 64%, 51% ) 60%,  hsl(192, 69%, 51%) );
    border-style: none;
     padding: 6px 6px 6px 6px;
     color: white;

   @media (width <= 620px){
    display: none;
   } 
}

 
.next-gen{
   text-align: center;
   font-size: 40px;
   font-weight: bold;
}
.finances{
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
   
   
}
.p-button{
     text-align: center;
     
}
.btn{
   padding-left: 45px;
   padding-right: 45px;
   padding-top: 16px;
   padding-bottom: 16px;
   color: white;
   border-radius: 32px;
   font-size: 16px;
   border: 0px;
   margin-bottom: 0px;
   margin-top: 16px;
 background-image: linear-gradient( hsl(136, 64%, 51% ) 60%,  hsl(192, 69%, 51%) );
}
.Digitalbank{
    text-align: center;
   @media( width > 620px){
    text-align:start;
   }
}
.flex-container-div{
     @media( width > 620px){
        display: grid;
        grid-auto-columns:1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px
     }  
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;

     @media( width > 620px){
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;
        font-size: 24px;
     }

    
}
.digital-we-leverage-con{
    
    @media( width > 620px){
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;
        
    }
}
.Digital{
 text-align: center;
 padding-top: 100px ;
 font-size: 36px;
 font-weight: bold;

 

  
}
.Digitalbank{
    font-size: 36px;
 font-weight: bold;
}
.we-leverage-p{
    @media( width > 620px){
    padding-top: 0px ;
    margin-top: 0px;
    color: red;
     text-align:start;
     font-size: 24px;
}
.we-leverage{
    text-align: center;
    padding: 16px;
    font-size: 16px;
    

 }
}
.img-p-container{
    width: 100%;
    
   
}
.img{
    width: 100%;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    
    
} 
.Claire-Robinson{
    padding-left: 40px;
    color: hsl(233, 8%, 62%);
    font-weight: 600;
} 
.Receive-money{
    padding-left: 40px;
    font-size: 25px;
    

} 
.second-images-container{
   @media(width > 620px){
    width: 100%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: repeat(4, 1fr);
   gap: 16px;
} 
}
.The-world{
    padding-left: 40px;
    color: hsl(233, 8%, 62%);
    
} 
.Wilson-Hutton{
   padding-left: 40px;
    color: hsl(233, 8%, 62%);
    font-weight: 600;
}
.Treat-yourself{
    padding-left: 40px;
    font-size: 25px;

}
.Our-simple{
      padding-left: 40px;
      color: hsl(233, 8%, 62%);
}
.Take-your{
    padding-left: 40px;
    font-size: 25px;
     
}
.We-want{
    padding-left: 40px;
      color: hsl(233, 8%, 62%);

}
.By-Claire{
     padding-left: 40px;
    color: hsl(233, 8%, 62%);
    font-weight: 600;

}
.Our-invite{
    padding-left: 40px;
    font-size: 25px;
}
.after-alot{
    padding-left: 40px;
      color: hsl(233, 8%, 62%);

}
.flex-container{

    @media ( width > 620px){
        border: 3px solid red;
    }
    
}
.footer{
    background-color:  hsl(233, 26%, 24%);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
     @media( width > 620px){
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content:space-around; 
    }
     

}
.footer-p{
    @media( width > 620px){
        display: flex;
        flex-direction: row;
        gap: 34px;
         align-items: center;
    }
}

.logo-icon-container{
    @media( width > 620px){
        display: flex;
        flex-direction: column;
    }
}
.light-logo{
    margin-top: 64px;
    margin-bottom: 64px;
    @media ( width > 620px){
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.icon-flex-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 32px
}
.icon-img{
     width: 25px;
     
}
.btn-footer{
   padding-left: 45px;
   padding-right: 45px;
   padding-top: 16px;
   padding-bottom: 16px;
   color: white;
   border-radius: 32px;
   font-size: 16px;
   border: 0px;
   margin-bottom: 20px;
   margin-top: 16px;
 background-image: linear-gradient( hsl(136, 64%, 51% ) 60%,  hsl(192, 69%, 51%) );
 @media ( width > 620px){
    margin-top: 50px;
    margin-bottom: 0px;
 }

}
.all-rights{
    margin-bottom: 64px;
}

@media(max-width: 600px){
    .header-desktop{
        display: none;
    }
   
}

@media screen and (max-width: 600px){
  .bg-mockups{
            height: 400px;
            position: absolute;
    top: -60px;
    left: 0px;
        
    
}
    
}


